body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
body{
    background-image: url('/3f7e0042db0148a294f9548092ac6824.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #051a16;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}



nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.about {
    position: relative;
    min-height: 600px;
    padding: 40px;
    color: #ffffff;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #ffffff;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: rgba(53, 66, 74, 0.8);
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}
